.dataTitle {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  font-weight: 300;
  color: var(--primary);
}

.schedule {
  display: flex;
  justify-content: space-between;

}

.nextSchedules {
  color: var(--secondary);
}

.cardWrapper {
  width: 50%;
  padding: 0 1rem;
  max-height: 60vh;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.cardWrapper::-webkit-scrollbar-track {
  background-color: var(--gray50);
}

.cardWrapper::-webkit-scrollbar {
  width: 5px
}

.cardWrapper::-webkit-scrollbar {
  width: 5px
}

.cardWrapper::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 8px;
}

.picker {
  width: 50%;
  display: flex;
  justify-content: center;
}

.calender {
  background-color: var(--primary);
  height: fit-content;
  padding: 1rem;
  border-radius: 8px;
  color: var(--white);
  box-shadow: 4px 8px 4px rgb(0, 0, 0, 0.3);
}

.day:not(.disabled) {
  background-color: var(--white);
  width: 40px;
  height: 40px;
  color: var(--black);
  margin: 0.15rem;
  border-radius: 8px;
}

.selected {
  color: var(--white) !important;
  background-color: var(--secondary) !important;
}