.title {
  font-weight: 300;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: var(--primary);
  margin-left: 2rem;
}

.formDiv {
  width: 50%;
  margin: auto;
  margin-top: 2rem;
}

.fileUpload {
  width: 100%;
  text-align: center;
  position: relative;
}

.fileUpload img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.imageUpload {
  background-color: var(--primary);
  padding: 10px;
  border-radius: 50px;
  display: inline-flex;
  color: var(--white);
  position: absolute;
  bottom: 10px;
  right: 35%;
  cursor: pointer;
}

.imageUpload input[type='file'] {
  display: none;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.footer>button:first-child {
  border: 1px solid var(--secondary);
  background: none;
  color: var(--secondary);
}

.footer>button:first-child:hover {
  background-color: var(--gray-50);
  background-color: var(--white);
}

.footer>button {
  cursor: pointer;
  text-decoration: none;
  font-weight: 300px;
  border-radius: 8px;
  padding: .5rem 1.5rem;
  width: 40%;
}

.footer>button:nth-child(2) {
  border: 1px solid var(--secondary);
  background-color: var(--secondary);
  color: var(--white);
}

.footer>button:nth-child(2):hover {
  background-color: var(--white);
  color: var(--secondary);
}